section {
  width: 97%;
  margin: auto;
}
section .tuiguang .carousel-box {
  display: none;
}
section .tuiguang .recommend-module {
  width: 100%;
  margin: auto;
}
section .tuiguang .recommend-module .groom-module {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5px;
  overflow: hidden;
  float: left;
  border-radius: 3px;
}
section .tuiguang .recommend-module .groom-module img {
  width: 100%;
}
section .tuiguang .recommend-module .groom-module .card-mark {
  width: 100%;
  height: 70px;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 0px;
  overflow: hidden;
  background-color: rgba(64, 64, 64, 0.5);
}
section .tuiguang .recommend-module .groom-module .card-mark .title {
  color: #eee;
  height: 41px;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 2px;
}
section .tuiguang .recommend-module .groom-module .card-mark .gtime {
  color: #333;
}
section .tuiguang .recommend-module .groom-module .card-mark .play {
  color: #333;
}
